body {
    background-color: #cad2c5;
    color: #2f3e46;
    font-family: "Brush Script MT", cursive;
}

h1 {
    font-weight: bold;
    color: #354f52;
}

h2 {
    color: #52796f;
    font-style: italic;
}

#chef-jacket {
    width: 180px;
    Height: 200px;
    display: inline-block;
    vertical-align: middle;
}

#cheeseburger {
    width: 400px;
    height: 300px;
}

#hotdog {
    width: 400px;
    height: 300px;
}

#grilled-cheese {

    width: 400px;
    height: 300px;
}

.main-menu-block {
    display: inline-block;
    margin-left: 50px;
}

.main-menu-block a {
    display: block;
}

.site-title {
    padding-left: 90px;
}

li {
    color: #2f3e46;
}

a {
    color: #2f3e46;
    text-decoration: dashed underline 1px;
}

a:hover {
    color:#52796f;
    text-decoration: underline;
}