body {
    background-color: white ;
    color: #2f3e46;
}

h1 {
    font-weight: bold;
    color: #354f52;
}

h2 {
    color: #52796f;
    font-style: italic;
}

#chef-jacket {
    width: 180px;
    Height: 200px;
}

#cheeseburger {
    width: 400px;
    height: 300px;
}

#hotdog {
    width: 400px;
    height: 300px;
}

#grilled-cheese {

    width: 400px;
    height: 300px;
}

li {
    color: #2f3e46;
}

a {
    color: #2f3e46;
    text-decoration: none;
}

a:hover {
    color:#52796f;
    text-decoration: underline;
}